/* subtitle */

.subtitle-txt-blue{
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
}

.subtitle-txt{
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
}

.subtitle-txt-line{
    background-color: var(--blue);
    width: 80px;
    height: 4px;
    border-radius: 5px;
}

.subtitle-txt-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*  */
/* simple text */
/*  */

.simp-txt {
    color: var(--grey-color);
}

.simp-txt-mini {
    color: var(--grey-color);
}

/* Title */

.title-txt {
    color: var(--text-color);
    font-size: 60px !important;
    font-weight: 800;
}