/* subtitle */

.subtitle-txt-blue{
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
}

.subtitle-line{

}

/* simple text */

.simp-txt {
    color: var(--grey-color);
}

.simp-txt-mini {
    color: var(--grey-color);
}

/* Title */

.title-txt {
    color: var(--text-color);
    font-size: 60px !important;
    font-weight: 800;
}