/* subtitle */

.subtitle-txt-blue{
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
}

.subtitle-txt{
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
}

.subtitle-txt-line{
    background-color: var(--blue);
    width: 80px;
    height: 4px;
    border-radius: 5px;
}

.subtitle-txt-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*  */
/* simple text */
/*  */

.simp-txt-gray {
    color: var(--grey-color);
}

.simp-txt{
    color: var(--text-color)
}

/* Title */

.title-txt {
    color: var(--text-color);
    font-size: 60px !important;
    font-weight: 800;
}

@media (max-width: 768px) {
    .title-txt {
        font-size: 44px !important;
    }

    .subtitle-txt {
        font-size: 28px;
    }

    .subtitle-txt-blue {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .title-txt {
        font-size: 34px !important;
    }
}