/* Card container */

.card-container{
    border: 1px solid var(--border-grey-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.card-container:hover{
    border-color: var(--blue);
}

/*  */
/*  */
/* Skill Card */

.skill-card {
    background-color: var(--skill-card-bg);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: border-color 0.3s;
}

/*  */
/*  */
/* Project Card */

.project-card {
    background-color: var(--project-card-bg);
    border-radius: 10px;
    height: 100%;
}

.project-card-img {
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 270px;
}






/*  */
/*  */