/* Skill Card */

.skill-card {
    /* flex: 1 1 250px; */
    width: 23%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.skill-card:hover {
    border-color: var(--blue);
}



/*  */
/*  */
/*  */