.icon-format {
  background-color: unset;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: var(--theme-icon-color);
}

.icon-format:hover {
  background-color: var(--blue-hover);
  color: white;
}

.icon-format i {
  font-size: 18px;
  transition: color 0.3s ease;
}

.icon-button {
  padding: 7px 10px 2px 10px;
}

.icon-link {
  padding: 7px 10px 10px 10px;
}