/* Navbar styles */
.nav-content {
    padding: 15px 150px !important;
    border-bottom: 1px solid var(--navbar-border-color);

    /* desenfoca el fondo */
    backdrop-filter: blur(6px);
    /* soporte para Safari */
    -webkit-backdrop-filter: blur(6px);
}

/* navbar options styles */

.nav-op-styles{
    background-color: unset;
    border: none;

    transition: color 0.3s ease;
}

.nav-main-option-btn{
    color: var(--text-color);
    font-weight: 700;
    font-size: 20px;
}
.nav-main-option-btn:hover {
    color: var(--blue-hover);
    transition: color 0.3s ease;
}

.nav-option-btn {
    color: var(--grey-color);
    font-size: 14px;
}
.nav-option-btn:hover {
    color: var(--text-color);
    transition: color 0.3s ease;
}