/* Skill label */

.skill-label {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--skill-card-label-bg);
    border-radius: 0.5rem;
    padding: 5px 10px 2px 10px;
    margin: 0.125rem;
    display: inline-block;
}

/* Card Tecnology label */

.card-tecnology-label{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--project-card-label-bg);
    border-radius: 0.5rem;
    padding: 5px 10px 2px 10px;
    margin: 0.125rem;
    /* display: inline-block; */
    border: 1px solid var(--border-grey-color);
}



/*  */
/*  */
/*  */