/* Skill label */

.skill-label {
    font-size: 0.875rem;
    color: #555;
    background-color: #f0f0f0;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.125rem;
    display: inline-block;
}






/*  */
/*  */
/*  */