/* Skill label */

.skill-label {
    font-size: 12px;
    color: var(--text-color);
    background-color: var(--skill-card-label-bg);
    border-radius: 0.5rem;
    padding: 5px 10px 2px 10px;
    margin: 0.125rem;
    display: inline-block;
}






/*  */
/*  */
/*  */