:root {
  /* Tema claro */
  --bg-color-one: white;
  --bg-color-two: rgb(224, 224, 224);

  --text-color: #000000;

  --grey-color: grey;
  
  --blue: oklch(0.47 0.18 240);
  --blue-hover: oklch(0.4 0.25 240);
}

[data-theme="dark"] {
  /* Tema oscuro */
  --bg-color-one: #090F14;
  --bg-color-two: #090F14;

  --text-color: white;
  
  --grey-color: grey;

  --blue: oklch(0.58 0.2 240);
  --blue-hover: oklch(0.65 0.25 240);
}

body {
  background-color: var(--bg-color-one);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

