:root {
  /* Tema claro */
  --bg-color-one: white;
  --bg-color-two: rgb(224, 224, 224);
  --theme-icon-color: black;

  --text-color: #000000;

  --border-grey-color: rgb(199, 199, 199);
  --grey-color: #838383;
  
  --blue: oklch(0.4 0.25 240);
  --blue-hover: oklch(0.47 0.18 240);

  --theme-icon-color: black;
}

[data-theme="dark"] {
  /* Tema oscuro */
  --bg-color-one: #090F14;
  --bg-color-two: #090F14;
  --theme-icon-color: white;

  --text-color: white;

  --border-grey-color: rgb(199, 199, 199);
  --grey-color: #C7C7C7;

  --blue: oklch(0.58 0.2 240);
  --blue-hover: oklch(0.65 0.25 240);
}

body {
  font-family: 'Epilogue', 'Geist', 'Montserrat', sans-serif !important;
  /* font-family: 'Epilogue', 'Geist', 'Montserrat', sans-serif; */
  background-color: var(--bg-color-one) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s, color 0.3s;
}

