:root {
  /* Tema claro */
  --bg-color-one: #F5F9FC;
  --bg-color-two: #F0F5F8;
  --theme-icon-color: black;

  --text-color: #000000;

  --navbar-border-color: rgb(218, 218, 218);
  --border-grey-color: rgb(199, 199, 199);
  --grey-color: #838383;
  
  --blue: #0060B3;
  --blue-hover: #0079e4;

  --theme-icon-color: black;

  --card-bg: #FFFFFF;
  --card-label-bg: #DFE6EB;
}

[data-theme="dark"] {
  /* Tema oscuro */
  --bg-color-one: #040A0F;
  --bg-color-two: #090F14;
  --theme-icon-color: white;

  --text-color: white;

  --navbar-border-color: unset;
  --border-grey-color: rgb(53, 53, 53);
  --grey-color: #9b9b9b;

  --blue: oklch(0.58 0.2 240);
  --blue-hover: oklch(0.65 0.25 240);

  --card-bg: #0e161b;
  --card-label-bg: #192026;
}

body {
  font-family: 'Epilogue', 'Geist', 'Montserrat', sans-serif !important;
  background-color: var(--bg-color-one) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s, color 0.3s;  
}

