:root {
  /* Tema claro */
  --bg-color-one: white;
  --bg-color-two: rgb(224, 224, 224);

  --text-color: #000000;
  
  --accent: oklch(0.47 0.18 240);
}

[data-theme="dark"] {
  /* Tema oscuro */
  --bg-color-one: #121212;
  --bg-color-two: #121212;

  --text-color: white;

  --accent: oklch(0.58 0.2 240);
}

body {
  background-color: var(--bg-color-one);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

